<h1>Editing Recipe</h1>

<%= render 'form', recipe: @recipe %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Delete', @recipe, method: :delete, data: { confirm: 'Are you sure you would like to delete this Recipe?' } %>
