<div class="text-center">


<br>
<br>
<br>
<br>

<h1> About VeganEats</h1>
<h3> Created by: Jonathan Norton </h3>

<h3>
  A Software Egineer with a demonstrated history in Digital Marketing. Skilled in Agile environments, RESTful methodologies, Git(+ version control), GitHub, Ruby, Ruby on Rails, MVC,JavaScript(ES5 & ES6), jQuery, HTML, CSS, OOP, Google Adwords, Google Analytics, Bing Ads, and Search Engine Optimization (SEO). Problem solver with a passion for technology and excellent social skills(verbal/written) with an Associate of Arts (A.A.) focused in General Studies from Valencia College.
</h3>

<br>

<h3> Feel free to check out my portfolio with other projects <a href="https://jmichaeln5.github.io/portfolio/"> here</a>.    </h3>

<br>
<br>
<br>
<br>
<br>
<br>
<br>



</div>
