<div class="text-center">


<br>
<br>
<br>
<br>

<h1> About VeganEats</h1>

<h3> VeganEats is a solo project built with Ruby, Ruby on Rails, JavaScript, PostgreSQL, AWS, HTML, CSS, Git/GitHub, and Bootstrap. </h3>

<br>
<br>


<h2> Created by: Jonathan Norton </h2>

<h3>
  Thanks for checking out my Web App!
  <br>
  <br>
   I am a Software Egineer with a demonstrated history in Digital Marketing and skilled in Ruby, Ruby on Rails, PHP, Laravel, JavaScript(ES5 & ES6), AWS, Git(+ version control), GitHub, MVC, jQuery, HTML, CSS, OOP, Google Analytics, Agile environments, RESTful methodologies, and Search Engine Optimization (SEO).
<br>
   I am a problem solver with a passion for technology and excellent social skills(verbal/written) with an Associate of Arts (A.A.) focused in General Studies from Valencia College. I hope to join a team where I can grow my skills as a software engineer alongside a team who shares my passion for development with a company that has a positive impact on the world. Thanks for stopping by!
</h3>

<br>

<h3> Want to check out my other projects or learn more about me?
  <br>
  <br>
     Click <a href="https://jmichaeln5.github.io/portfolio/" target="_blank">here</a> to open my portfolio in a new tab.
  </h3>

<br>
<br>
<br>
<br>
<br>
<br>
<br>



</div>
