/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* // Custom bootstrap variables must be set or imported *before* bootstrap. */
 @import "bootstrap-sprockets";
 @import "bootstrap";


nav {
  background-color: #fff;
}

body {
  background-image: url("http://wallpapercrafter.com/uploads/posts/103691-noodles_pasta_spaghetti_farfalle_carbohydrates.jpg");

  opacity: .9;
  background-size: cover;

  // background-color: rgb(100, 133, 1);
}

.web-chef {
  width: 100%;
  height: 20em;
  object-fit: cover;

}

.container {
  background-color: #fff;

}

 // div > ul > li {
 //   list-style-type: none;
 // }

img.recipe-show {
  width: 500px;
  height: auto;
}

img.recipe-index {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.recipe-box {
  border: 1px solid black;
  padding: 5%;
  height: 500px;
  position: relative;
}

.recipe-box ul {
    list-style-type: none;
    position: absolute;
    bottom: 0;
    padding-left: 27%;
    text-align: center;
  }

.recipe-box li:first-child {
  font-size: 150%;
}
